.pageframe{
    width: 95%;
    margin: 0 auto;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding:0;
    margin: 0 auto;
    background-color: white;
    
}

nav{
    width: 100%;
    background: rgb(131, 5, 5);
}

nav img{
    width: 70px;
    height: 70px;
    border-radius:70px ;
    margin-left: 5px;
}

ul{
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 15px;
}

ul li:hover{
    background: black;
}

ul li a{
    color:white;
    text-decoration: none;
}


#logout{
    float: right;
    padding: 15px;
    color: white; 
}
#logout:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}

svg{
    display: none;
    width: 30px;
    height: 30px;
    margin-left: 5px;
}
  
  .side-nav{
    height:100%;
    width:0;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    background:linear-gradient( rgba(0,0,0, 0.5), rgba(0,0,0,0.5)),url(../images/restaurant.jpg) no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    opacity:0.9;
    overflow-x:hidden;
    padding-top:60px;
    transition:0.5s;
  }
  
  .side-nav a{
    padding:10px 10px 10px 30px;
    text-decoration:none;
    text-align: center;
    color:white;
    display:block;
    transition:0.3s;
  }
  
  .side-nav a:hover{
    color: white;
    background-color: rgb(70, 40, 40);
    padding: 10px;
  }
  
  .side-nav .closeMenu{
    position:absolute;
    top:0;
    right:0;
    font-size:15px;
    margin-left:50px;
  }
  
  @media(max-width:600px){
    svg{
      display: block;
    }
    ul{
        display: none; 
      }
      
    nav img{
        display: none;
        float: none;
        text-align: center;
        width: 65px;
        height: 65px;
        margin: 0 auto;
    }
  }
 
 .side-nav img{
    width: 70px;
    height: 70px;
    border-radius:70px ;
    margin-left: 70px;
  }

.current{
    background-color: black;
    color: white;
}

.container{
    width: 95%;
    margin: auto;
    overflow: hidden;
}

.button{
    font-family: "tahoma", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px; 
    font-weight: bold;
    border: none;
    color: white;
    background-color: transparent;
    padding: 15px 30px ;
    border-radius: 10px;
    border: 1px solid white;
    transition: all 0.5s;

}

.button:hover{
    cursor: pointer;
    color: white;
    padding: 20px 45px;
    background-color: black;
    font-weight: bold;

}

.button:active, nav a:active{
    background-color: brown;

}

.footer{
	background-color: rgb(131, 5, 5);
	overflow: hidden;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: white;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}

/*new shit*/

  /* Assign grid instructions to our parent grid container, mobile-first (hide the sidenav) */
  .grid-container {
    display: grid;
    grid-template-areas:
      'header'
      'main'
      'footer';
    height: 100vh;
  }

  .sidenav {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 240px;
    position: fixed;
    transform: translateX(-250px);
    transition: all .5s;
    /* background-color: rgb(48, 24, 24); */
    background:linear-gradient( rgba(0,0,0, 0.5), rgba(0,0,0,0.5)),url(../images/restaurant.jpg) no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    opacity:0.9;
  }
  
  /* Non-mobile styles, 750px breakpoint */
  @media (min-width: 600px) {
    /* Show the sidenav */
    .grid-container {
      grid-template-columns: 240px 1fr;
      grid-template-areas:
        "sidenav header"
        "sidenav main"
        "sidenav footer";
    }
    .sidenav {
      position: relative;
      transform: translateX(0);
    }
}

.sidenav a{
    padding:10px 10px 10px 30px;
    text-decoration:none;
    text-align: center;
    color:white;
    display:block;
    transition:0.3s;
}
.sidenav a{
    padding:10px 10px 10px 30px;
    text-decoration:none;
    text-align: center;
    color:white;
    display:block;
    transition:0.3s;
  }
  
  .sidenav a:hover{
    color: white;
    background-color: rgb(70, 40, 40);
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
  }

  .sidenav img{
    width: 150px;
    height: 150px;
    border-radius:70px ;
    margin: 30px 0 30px 45px;
  }

  .dropdown{
      position: relative;
      display: inline-block;
  }

  .dropdown-content {
      display: none;
      position: absolute;
      z-index: 1;
      min-width: 240px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      background-color: black;
      opacity: 0.7;
      
  }

  .dropdown-content a {
    float: none;
    padding: 12px 16px;
    display: block;
}

.dropdown-s:hover, .dropdown-content-s:hover{
    cursor: pointer;
    color: white;
}

.dropdown-content-s {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: black;
    opacity: 0.7;
}

.dropdown-content-s a {
  float: none;
  padding: 12px 16px;
  display: block;
}

  .show{
      display: block;
  }

  .content-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    height: 100vh;
    background-color: white;
    color: black;
  }

.content-header{
    width: 100%;
    height: 30%;
    background-color: rgb(236, 233, 233);
}

#Profilepic{
  border-radius: 100px;
  text-align: center;

}

#defaultDiv{
  width: 100%;
  height: 69%;
  margin: 0;
  background-color: rgb(236, 233, 233);
}

.tabcontent{
    display: none;
    width: 100%;
    height: 69%;
    margin: 0;
    background-color: rgb(236, 233, 233);

}

#defaultDiv img{
  width: 350px;
  height: 250px;
}

.table{
  margin: 20px auto;
  width: 90%;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.table-button{
  border: none;
  margin: 5px;
  padding: 10px;
  color: white;
  background-color: rgb(112, 17, 17);
  border-radius: 5px;
  float: right;
  
}

.table-button:hover{
  background-color: black;
  cursor: pointer;
}

th{
  background-color: white;
}

tr{
  background-color: rgb(218, 201, 201);
}

tr:nth-child(even){
  background-color: rgb(221, 221, 161);
}

td{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
}

h3{
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-size: 20px;
 margin-top: 10px;
 text-align: center;
}

.form{
  margin: 100px auto;
  width: 40%;
}

.form input{
  margin: 10px auto;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  text-align: center;
}

.add-button{
  padding: 15px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: brown;
  font-weight: bold;
  text-transform: uppercase;
}

.add-button:hover{
  background-color: black;
  cursor: pointer;
}

.menu-list{
  margin: 0 auto;
  width: 60%;
}

.menu-list input{
  text-align: center;
  margin-top: 20px;
}

.sales{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.orders{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  /* margin: 0 auto; */
}

#t-sales{
width: 40%;
background-color:white;
height: 400px;
float: left;
margin: 30px auto;
}
#a-sales{
width: 40%;
background-color:white;
height: 400px;
float: right;
margin: 30px auto;
}

#contentbox{
  width: 90%;
  height: 400px;
  margin: 30px auto;
  background-color: white;
}

.sales p{
  text-align: center;
  font-size: 30px;
  color: rgb(8, 182, 23);

}